<div class="accordion" id="brochureAccordion">
  <div class="accordion-item">
    <div class="accordion-header" id="brochureAccordionHeader">
      <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#brochureAccordionBody">
        ITEM ONE
      </button>
    </div>
    <div id="brochureAccordionBody" class="accordion-collapse collapse show" aria-labelledby="brochureAccordionHeader" data-bs-parent="#brochureAccordion">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

  <br>

  <div class="accordion-item">
    <div class="accordion-header" id="brochureAccordionHeader1">
      <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#brochureAccordionBody1">
        ITEM TWO
      </button>
    </div>
    <div id="brochureAccordionBody1" class="accordion-collapse collapse show" aria-labelledby="brochureAccordionHeader1" data-bs-parent="#brochureAccordion1">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>

<br>

<div class="accordion-item">
  <div class="accordion-header" id="brochureAccordionHeader2">
    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#brochureAccordionBody2">
      ITEM THREE
    </button>
  </div>
  <div id="brochureAccordionBody2" class="accordion-collapse collapse show" aria-labelledby="brochureAccordionHeader2" data-bs-parent="#brochureAccordion2">
    <div class="accordion-body">
      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
    </div>
  </div>
</div>
